<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>SC-Check for you!</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <link rel="stylesheet" href="css/fx.slide.css" type="text/css" media="screen" />
	    <script id="jquery_172" type="text/javascript" class="library" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/js.js"></script>
	</head>
	<body>
    	
    	<div id="Logo">
    		<a href="#" id="logoLink"></a> 
		</div> 
<div style="width:1200px; text-align:center; margin:0 auto;"> 
   	<div id="sign">
    		<font size="+1"><strong>Hello admin</strong></font>&nbsp;|<a href="#">&nbsp;<font size="+1"><strong>user center</strong></font></a>
    </div>
  
<div class="bigbox">

<div class="box">


        <ul class="btn">
        <li><a href="#">Home</a></li>
        
        <li><a href="#">News</a></li>
        
        <li><a href="#">Usage</a></li>
        
        <li><a href="#">Attention</a></li>
        
        <li><a href="#">About</a></li>
        </ul>
        

</div>

<div class="leftlist">
	<ul id="llist" class="effect square button">
        <li><a href="#">User Home</a></li>
    	<li><a href="pro.html">Pro Check</a></li>
        <li><a href="#">Web Check</a></li>
        <li><a href="#">Record</a></li>
        <li><a href="#">User Info</a></li>
        <li><a href="#">Suggestions</a></li>
        <li><a href="#">Log out</a></li>
    </ul>
</div>

</div>
</div>  


</body>
</html>
